:root {
    --default-bg-color: #fefefe;
    --text-color: #3c3c3c;
    --link-color: #2274a5;
    --secondary-color: #333333;
    --pink-color: #e83f6f;
    --light-green-color: #32936f;
    --green-color: #006e56;
    --dark-green-color: #007033;

}

*, *:after, *:before {
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
}

html{ 
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 47%;
}

@media only screen and (min-width : 768px) {

    html{ 
        font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
    }

    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
}

body {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: #fefefe
}

p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

ol, ul {
    list-style: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.fork-me {
    display: none;
}

.strong {
    font-weight: 600;
}

.title {
    font-size: 10.5rem;
    line-height: 1;
    margin-top: 1rem;
}

.sub-title {
    font-size: 2.4rem;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.hero {
    width: 100%;
    min-height: 20rem;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
}

.slogan p {
    font-size: 3.9rem;
    font-weight: bold;
}

.explain {
    margin-top: 2.5rem;
}

.explain > p {
    margin-bottom: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-direction: column;
}

.presentation .content {
    text-align: justify;
    padding: 0 1rem;
}

#onde-e-utilizada, #demo, #more {
    margin-top: 4rem;
}

#onde-e-utilizada, #more {
    padding: 4rem 0;
}

.bg-gradient { 
    background: var(--green-color);
}

.bg-gray {
    background: #f7f7f7;
}

.main-presentation > .container {
    padding-bottom: 4rem;
}

.main-presentation .access-links {
    display: none;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.main-presentation .access-links a {
    color: #fff;
    font-size: 2.2rem;
    text-decoration: none;
}

.upload {
    display: flex;
    flex-direction: column;
}

.uploader {
    margin-right: 3rem;
}

.uploader .ajax-file-upload {
    background-color: var(--dark-green-color);
    box-shadow: none;
    padding: 0.5rem 1rem;
    margin: 0 0 2rem;
    font-size: 2.3rem;
    font-weight: lighter;
    height: 4.5rem;
    line-height: 1;
    width: 30rem;
    text-align: center;
    border-radius: 2rem;
}

.uploader .ajax-file-upload > span {
    font-size: 1.2rem;
    display: block;
}

.ajax-file-upload-container {
    margin: 0;
}

.ajax-file-upload-container .upload-filename {
    font-size: 2.2rem;
    word-wrap: anywhere;
}

.ajax-file-upload-progress {
    width: 100%;
    max-width: 58rem;
}

.ajax-file-upload-bar {
    background-color: var(--link-color);
}

.ajax-file-upload-container .ajax-file-upload-statusbar {
    margin: 0;
    border-color: var(--primary-color);
    max-width: 400px;
    width: 100% !important;
}

.ajax-file-upload-abort {
    background: var(--pink-color);
    font-size: 1.4rem;
    color: #fff;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    max-width: 11rem;
    text-align: center;
    cursor: pointer;
}


#demo .flex {
    display: flex;
    flex-direction: column;
}

.result {
    text-align: center;
}

#demo .change-demo {
    display: inline-block;
    text-align: center;
    width: 30rem;
    margin: 0 auto;
}


#demo .extrair-texto .clear-result {
    text-align: center;
}

#demo .extrair-texto .clear-result  .button {
    width: 30rem;
}

#demo .extrair-texto .show-more {
    cursor: pointer;
}

#demo .extrair-texto .options {
    font-size: 1.6rem;
}

#demo .extrair-texto .options .option-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.alert-error {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--pink-color);
    color: #fff;
    border-radius: 4px;
    width: 100%
}

.alert-success {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--light-green-color);
    color: #fff;
    border-radius: 4px;
    width: 100%
}

.displaynone {
    display: none;
}

.button {
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 2rem;
    padding: 0.5rem 4rem;
    cursor: pointer;
}

.button--secondary {
    background: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    color: #fff;
}

.button--secondary:hover {
    background-color: var(--green-color);
    border-color: var(--green-color);
}


@media only screen and (min-width: 768px) {
    p {
        margin-bottom: 1rem;
    }

    .main-presentation .access-links {
        display: flex;
        padding-top: 2rem;
    }

    .slogan p {
        font-size: 5.7rem;
    }
    
    .row {
        flex-direction: row;
    }
    
    .row .content {
        flex: 0 1 50%;
    }

    #o-que-e {
        padding-right: 4.5rem;
    }

    #o-que-faz {
        padding-left: 4.5rem;
    }

    #demo .flex{
        flex-direction: column;
        justify-content: space-between;
        grid-gap: 3rem;
    }

    #demo .change-demo {
        font-size: 1.3rem;
    }

    #demo .extrair-texto .options {
        margin-top: -3.5rem;
    }
}


@media only screen and (min-width: 991px) {

    .fork-me {
        display: block;
        position: fixed;
        top: 20px;
        right: -75px;
        background: #000;
        padding: 0.5rem;
        transform: rotate(45deg);
        width: 220px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
        transition: 0.4s;
    }

    .fork-me:hover {
        background-color: var(--dark-green-color);
    }

    .fork-me a {
        display: block;
        border-top: 1px dashed #fff;
        border-bottom: 1px dashed #fff;
        padding: 0.3rem 0;
        color: #fff;
    }

    .bg-gradient {
        background: var(--secondary-color);
        background: linear-gradient(74deg, rgba(60,0,137,1) 0%, rgba(0,110,86,1) 25%, rgba(0,103,79,1) 50%, rgba(0,138,71,1) 50%, rgba(0,119,59,1) 65%, rgba(0,118,61,1) 75%, rgba(0,75,62,1) 75%, rgba(0,163,59,1) 100%); 
    }
    
    .explain {
        max-width: 50%;    
    }

    .upload {
        flex-direction: row;
    }
    
}

@media only screen and (min-width: 1331px){

    .fork-me {
        top: 30px;
        right: -60px;
        font-size: 1.4rem;
    }

    .main-presentation > .container {
        background-image: url('logo-prc-branco.png');
        background-repeat: no-repeat;
        background-position: 90% 90px;
    }
}