<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#006e56"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">  
    <link href="https://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',  filename='style.css') }}">
    <title>GurIA - A Inteligência Artificial do PARANACIDADE</title>
</head>

<body>

    <div class="fork-me">
        <a href="https://bitbucket.org/AndreFusioka/guria/src/">Código-fonte</a>
    </div>

    <main>
        <section class="hero bg-gradient">
            <div class="main-presentation">
                <div class="container">
    
                    <div class="flex access-links">
                        <a href="#o-que-e">O que é?</a>
                        <a href="#o-que-faz">O que faz?</a>
                        <a href="#onde-e-utilizada">Onde é utilizada?</a>
                        <a href="#demo">Experimente</a>
                    </div>
    
                    <h1 class="title">GurIA</h1>
                    <div class="slogan">
                        <p>Inteligência Artificial</p>
                    </div>
                    
                    <div class="explain">
                        <p>Do <span class="strong">PARANACIDADE</span> para o seu Município.</p> 
                        <p>Uma <span class="strong">IA</span> para auxiliar <span class="strong">todos</span> os municípios do Paraná a construir um futuro melhor.</p>
                    </div>
                    
                </div>
            </div>
        </section>

        <section id="presentation" class="container presentation">
            <div class="row">
                <div id="o-que-e" class="content">
                    <h2 class="sub-title">O que é a GurIA?</h2>
                    <p>A <span class="strong">GurIA</span> é a Inteligência Artificial construída pelo PARANACIDADE com o intúito de facilitar as atividades desempenhadas por gestores e técnicos municipais.</p>
                    <p>Ela está integrada com o <a href="https://portaldosmunicipios.pr.gov.br">Portal dos Municípios</a> para facilitar a entrega de documentos.</p>
                </div>
                
                <div id="o-que-faz" class="content">
                    <h2 class="sub-title">O que a GurIA faz?</h2>
                    <p>Ela é capaz de identificar e classificar diferentes documentos técnicos de <span class="strong">Operação de Crédito</span> e também a documentação dos <span class="strong">Processos Licitatórios</span> realizados pelos municípios. Assim, técnicos em dúvidas podem verificar se os documentos encaminhados condizem com o esperado para o andamento dos processos.</p>
                </div>
            </div>
        </section>
            

        <section id="onde-e-utilizada" class="bg-gray" >
            <div class="container">
                <h2 class="sub-title">Onde a GurIA é utilizada?</h2>
                <p>O PARANACIDADE disponibiliza diferentes ferramentas para auxiliar no desenvolvimento dos municípios, uma delas é o <a href="https://portaldosmunicipios.pr.gov.br/">Portal dos Municípios</a>, um sistema para comunicação e troca de documentos entre os municípios do Paraná e o PARANACIADE.</p>
                <p>Nessa ferramenta são tramitados diferentes documentos para atender as demandas dos municípios por obras, bens e serviços. Em termos simples o PARANACIDADE precisa da apresentação de alguns documentos para dar andamento nos empreendimentos municipais. A análise desses documentos só é feita quando todos os documentos são apresentados.</p>
                <p>Ao apresentar um documento no Portal dos Municípios a GurIA faz uma verificação e notifica o técnico municipal se forem preciso correções ou alterações.</p>
            </div>
        </section>

        <section id="demo">
            <div class="container classificacao">
                <h2 class="sub-title">Experimente - Classificação de Documentos</h2>
                <p>Envie um documento para a GurIA e veja se ele faz parte da documentação técnica da <a href="https://portaldosmunicipios.pr.gov.br/operacao-credito">Operação de Crédito</a> ou da documentação do <a href="https://portaldosmunicipios.pr.gov.br/processo-licitatorio">Processo Licitatório</a>.</p>
                <a class="change-demo show-extracao-texto" href="#demo">Clique aqui para testar a extração de texto</a>

                <div class="flex">
                    <div class="upload">
                        <div class="uploader" data-demo="classificacao" data-url="{{ url_for('guria.demo') }}">
                            Enviar arquivo
                        </div>
                    </div>
                    <div class="result">
                        <div class="unspected-error displaynone">
                            <div class="alert-error">
                                <span>Sinto muito, mas um erro inesperado ocorreu. Por favor, tente novamente mais tarde.</span>
                            </div>
                        </div>
                        <div class="unknown-file displaynone">
                            <div class="alert-error">
                                <span>Sinto muito, mas a GurIA ainda não conhece esse documento, certifique-se que pertence a documentação de <span class="strong">Operação de Crédito</span> ou de <span class="strong">Processo Licitatório</span>.</span>
                            </div>
                        </div>
                        <div class="predict displaynone">
                            <div class="alert-success">
                                <span>O documento identificado é: <span class="result-label strong"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container extrair-texto">
                <h2 class="sub-title">Experimente - Extração de Texto</h2>
                <p>Envie um documento para que a GurIA faça a extração do texto.</p>
                <a class="change-demo show-classificacao" href="#demo">Clique aqui para testar a classificação</a>

                <div class="flex">
                    <div class="upload">
                        <div class="uploader" data-demo="extrair-texto" data-url="{{ url_for('guria.extrair_texto') }}">
                            Enviar arquivo
                        </div>
                    </div>

                    <a class="show-more">Opções avançadas</a>
                    <div class="options">
                        <div class="option-title">Modo de extração de texto: </div>
                        <div class="form_group"> 
                            <div>
                                <input id="scrape_mode" name="read_mode" type="radio" value="scrape" checked>
                                <label for="scrape_mode">Scrape - Extrai o texto sem pré-processamento (quando possível).</label>
                            </div>

                            <div>
                                <input id="ocr_mode" name="read_mode" type="radio" value="ocr">
                                <label for="ocr_mode">OCR - Converte as págias em imagens antes da extração.</label>
                            </div>

                        </div>

                        <div class="option-title">Opções de processamento:</div>
                        <div class="form_group">
                            <input id="clear-text" name="clear_text" type="checkbox" value="1">
                            <label for="clear-text">Limpar o texto</label>
                        </div>

                        <div class="form_group">
                            <input id="stemmimg" name="stemmimg" type="checkbox" value="1">
                            <label for="stemmimg">Transformar palavras em radical</label>
                        </div>

                        <div class="form_group">
                            <input id="extraction" name="extraction" type="checkbox" value="text-and-page" checked>
                            <label for="extraction">Texto e Página</label>
                        </div>

                        <div class="form_group">
                            <input id="split-sentences" name="split_sentences" type="checkbox" value="1">
                            <label for="split-sentences">Separar sentenças em parágrafos</label>
                        </div>
                    </div>

                    <div class="clear-result displaynone">
                        <button class="button button--secondary clear">Apagar Texto</button>
                    </div>
                    <div class="result">
                        <div class="document-text"></div>
                    </div>
                    <div class="clear-result displaynone">
                        <button class="button button--secondary clear">Apagar Texto</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="more" class="bg-gray">
            <div class="container">
                <h2 class="sub-title">Código Aberto</h2>
                <p>A GurIA é um projeto de código aberto do PARANACIDADE e pode ser utilizada por todos. O código fonte do projeto é distribuido no <a href="https://bitbucket.org/AndreFusioka/guria/src/">repositório de versionamento</a>.</p>
            </div>
        </section>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
    <script src="{{ url_for('static',  filename='main.js') }}"></script>
</body>
</html>